# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Environment variables
.env

# Streamlit specific
.streamlit/config.toml
.streamlit/secrets.toml

# Logs
*.log

# PyInstaller
dist/
build/
*.spec

# pytest
.cache/
.pytest_cache/

# mypy
.mypy_cache/

# VSCode
.vscode/

